<?php
/** @var \Apsl\StoreLocator\Block\StoreList $block */
?>
<div>
    <p>Something element:</p>
    <span><?php echo $block->getSomething(); ?></span>
    <p><?php echo __('available stores')?></p>
    <?php foreach ($block->getAvailableStores() as $store) : ?>
       <p> <?php echo $store->getName(); ?></p>
       <a href="<?php echo $block->getUrl('apsl storelocator/store/store',['id' => $store->getId()]);?>">
    <?php echo __('View store'); ?>
    </a>
    </p>
    <?php endforeach; ?>
   
</div>